@{
Layout = "_Layout";
}


@model Lab8.Models.Student


<h2>Create Student</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Address">Address</label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
    
    <div>
        <label asp-for="CampusID">Campus</label>
        <select asp-for="CampusID" asp-items="@(new SelectList(ViewBag.Campuses, "ID", "Name"))"></select>
        <span asp-validation-for="CampusID"></span>
    </div>

    <button type="submit">Save</button>
</form>